/* HeroSection.css */

.hero-section {
  position: relative;
  z-index: 1; /* Ensure hero section is behind the header */
  padding: 80px; /* Increased padding for the hero section */
  background-color: #f8f8f8;
  text-align: center;
  animation: fadeInDown 1s ease;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.hero-section h1 {
  color: #333; /* Adjusted text color for h1 */
  font-size: 3rem; /* Increased font size for h1 */
  margin-bottom: 20px;
}

.hero-section img {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-section p {
  font-size: 1.5rem; /* Increased font size for paragraphs */
  margin-bottom: 40px;
}
.hero-section a {
  color: #007bff; /* Adjusted link color */
  text-decoration: none;
  transition: color 3s ease; /* Smooth transition on link hover */
}

.hero-section a:hover {
  color: #0056b3; /* Adjusted link hover color */
}

#icons{
  box-shadow: none;
  display: flex;
  margin: 0 0 0 0;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  border: white;
}

/* Animation for the hero section */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for responsiveness below 900px */
@media (max-width: 900px) {
  .hero-section {
    padding: 30px; /* Adjusted padding for better responsiveness */
    margin-top: 150px;
  }
}